.validation-summary-errors {
    border: 2px dotted #ff6a00;
    background-color: coral;
    border-radius: 8px;
    margin-bottom:8px;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding: 10px;
        color: aliceblue;
    }
