<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site</strong>
                </h5>
                <p>
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>  Son Yazılanlar</a><br />
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span>  Hakkımızda</a>

                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        Benim Notlarım
                    </strong>
                </h5>
                <p>Tüm Hakları Saklıdır &copy; <br />Benim Notlarım @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>
                        E-Bülten Üyeliği
                    </strong>
                </h5>
                <div class="col-md-12">
                    <p>
                        E-Bülten ile sitemize
                        üye olabilir notlarınızı paylaşabilirsiniz
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-send"></span>  Gönder
                            </button>

                        </span>

                    </div>
                </div>
            </div>
    </footer>
</div>
<!-- /.container -->
